body {
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
  }
  
  .left-column, .right-column {
    width: 45%;
  }
  
  .input-group {
    margin-bottom: 10px;
  }
  
  #eventsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #eventsTable, #eventsTable th, #eventsTable td {
    border: 1px solid black;
  }
  
  #eventsTable th, #eventsTable td {
    padding: 5px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
/* modal styling */
.modal {
  display: none; 
  justify-content: center;
  align-items: center;
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto;
  background-color: rgba(123, 123, 123, 0.462);
}

/* Modal Content */
.modal-content {
  background-color: #8cb2c7;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

/* The Close Button */
.close {
  color: #000000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


  /* maps styling */
  
  #container {
    height: 40vh;
    width: 40vw;
    display: flex;      
    justify-content: center;  
    margin-left: 200px;      
  }
  
  #sidebar {
    flex-basis: 15rem;
    flex-grow: 1;
    padding: 1rem;
    width: 35%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
  }
  
  #map {
    flex-basis: 0;
    flex-grow: 4;
    height: 100%;
  }
  
  #floating-panel {
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }
  
  #floating-panel {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    height: auto;
  }
  
  #map {
    flex: auto;
  }
  
  #sidebar {
    flex: 0 1 auto;
    padding: 0;
  }
  #sidebar > div {
    padding: 0.5rem;
  }